.env
.env.backup
.env.testing
.DS_Store
.idea
.phpunit.result.cache
.php_cs.cache
.vagrant
.vscode
composer.lock
/data
/docker-compose-collection
docker-compose.override.yml
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
package-lock.json
/public/css
/public/fonts
/public/js
/public/hot
/public/storage
/public/themes
/public/vendor
/storage/
/storage/*
/storage/*.key
/storage/dcc-data/
/storage/logs/
/storage/logs/laravel.log
/stubs
todo.txt
/vendor
/vendor/
/vendor/*
